* { 
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

table {
    width: 100vw;
    border-collapse: collapse;
}

td, th {
    border: 1px solid ;
}

th {
    background-color: #e0e0e0;
}

input {
    display: block;
    margin-bottom: 10px;
}