@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

body {
    height: 100vh;
    display: flex;
}

nav.menu-lateral {
    width: 370px;
    height: 100vh;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #ff0077;

    overflow: hidden;
    transition: .5s;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

/* CSS para itens da lista que receberam a classe 'ativo' da lógica js */
ul li.ativo {
    background-color: #ff0077;
}

ul li.item-menu:hover {
    background-color: #ff0077;
}

ul li.item-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 30px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 30px;
}

ul li.item-menu a .txt-link {
    margin-left: 30px;
    text-wrap: nowrap;
    transition: .5s;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

/* Estilização Conteúdo Principal da Página */

main {
    display: flex;
    align-items: center;
}

main div.container {
    background-color: #3db;
    width: 800px;
    height: 90vh;
    margin-left: 3px;
    border-radius: 0 10px 10px 0;

    display: flex;
    align-items: center;
}

main div.container .home {
    width: 99%;
    height: 98%;
    background-color: #ff0077;
    border-radius: 0 10px 10px 0;
    display: none;
}
main div.container .fatorial {
    width: 99%;
    height: 98%;
    background-color: #ff0077;
    border-radius: 0 10px 10px 0;
    /* display: none; */
}

main div.container .fatorial > h3 {
    text-align: center;
}

main div.container .fatorial > form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

main div.container .vetor {
    width: 99%;
    height: 98%;
    background-color: #ff0077;
    border-radius: 0 10px 10px 0;
    display: none;
}
main div.container .pos-vetor {
    width: 99%;
    height: 98%;
    background-color: #ff0077;
    border-radius: 0 10px 10px 0;
    display: none;
}
main div.container .previdencia {
    width: 99%;
    height: 98%;
    background-color: #ff0077;
    border-radius: 0 10px 10px 0;
    display: none;
}
main div.container .imposto-renda {
    width: 99%;
    height: 98%;
    background-color: #ff0077;
    border-radius: 0 10px 10px 0;
    display: none;
}